#!/usr/bin/env bash

## ccs template directory
ccs_dir=/home/salldritt/projects/Func_Pipeline/CCS-pipeline
## directory where scripts are located
scripts_dir=/home/salldritt/projects/Func_Pipeline/CCS-pipeline/preprocessing
## full/path/to/site
analysisdirectory=/home/salldritt/projects/Func_Pipeline/CCS-pipeline/Data/site-ucdavis
# which brain mask to use
brainmask_name=loose # options for fs-bet, tight, loose, edit
# if run anatomical pipeline
run_anat=true
# if run functional pipeline
run_func=true
##########################################################################################################################
################### Anat parameters
## anat_dir_name
anat_dir_name=anat
## if do anat registration
do_anat_reg=true 
## if do anat segmentation
do_anat_seg=true
## if use freesurfer derived volumes
fs_brain=true
## if use svd to extract the mean ts
svd=false
## if denoise the T1 input
do_denoise=true
## if using gcut for skullstripping in FS
use_gcut=true
## how many anat scans
num_scans=1
## use gpu
use_gpu=false
## anatomical registration directory name
anat_reg_dir_name=reg
#################### Func parameters
## func_minimal directory name
func_min_dir_name=func_minimal
## func reg directory name
func_reg_dir_name=func_reg
## distortion correction
dist_corr_dir_name=func_dc
## func segmentation directory name
func_seg_dir_name=func_seg
## func nuisance dir name
nuisance_dir_name=func_nuisance
## func nuisance_reg and final
func_proc_dir_name=func_preproc
## func surface dir name (freesurfer version) - not used yet
func_surfFS_dir_name=func_surf_fs
## func surface dir name (workbench version) - not used yet
func_surfWB_dir_name=func_surf_wb
## number of volume dropping
numDropping=5
## func to anat reg method: fsbbr flirtbbr flirt
reg_method=fsbbr
## resolution of func data (3mm)
res_func=0.5
## if use bias corrected example_func
if_use_bc_func=true
## use svd (to average signal in csf and wm)
svd=false
## motion model (default 24, options: 6,12,24)
motion_model=24
## if use compcor (instead of csf+wm)
compcor=false
## highpass-lowpass filtering
hp=0.01
lp=0.1
## smooth kernel FWHM
FWHM=6
## write out resolution of preprocessed data (in anat space)
res_anat=1
## write out resolution of preprocessed data in standard (mni152) space
res_std=1
## cleanup the existing preprocessed data
if_rerun=false
